@tailwind base;
@tailwind components;
@tailwind utilities;

.DirectMessage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.2s, transform 0.3s;
}

.DirectMessage.closed {
  opacity: 0;
  transform: translateY(-100%);
}

.Links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(228, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.35s ease-in-out, transform 0.3s ease-in-out;
}

.Links.closed {
  opacity: 0;
  transform: translateY(-125%);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: #ADADAD;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1px 4px;
  position: absolute;
  z-index: 1;
  bottom: 145%;
  left: 140%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
